.card {
    width: 380px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
}

.bottom-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.button-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card button {
    width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.trash-icon {
    font-size: 16px;
}

.check-icon {
    font-size: 18px;
}